<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='img/Logos/ISOTIPO.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_marco.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="continer">
        {% if user %}
        <ul class = "menubar">
            <li><a href="/home">HOME</a></li>
            <li>
                <a href="/agents">AGENTS</a>
                <ul>
                    <li><a href="/agents/agent">· Agent</a></li>
                    <li><a href="/agents/tl">· TeamLead</a></li>
                    <li><a href="/agents/manager">· Manager</a></li>
                </ul>
            </li>
            <li><a href="/inventory">INVENTORY</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <div id="info">
            {% block body %}{% endblock %}
        </div>
        {% endif %}
    </div>
    
</body>
</html>