{% extends '_marco.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/agents.css') }}">
    <title>Monitors</title>
{% endblock %}

{% block body %}
    <div id="form">
        <a href="/addmonitor"><button class="button">ADD NEW MONITOR</button></a>
    </div>

    <div id="agents-list">
        <table>
            <tr>
                <th>Brand</th>
                <th>Size</th>
                <th>Serial number</th>
                <th>Options</th>
            </tr>
            {% for monitor in monitors %}
            <tr>
                <td>{{monitor[0].upper()}}</td>
                <td>{{monitor[1].upper()}}</td>
                <td>{{monitor[2].upper()}}</td>
                <td>
                    <a href="/monitoredit?name={{monitor[2]}}"><button class="button">Edit</button></a>
                    <a href="/deletemonitor?serialnumber={{monitor[2]}}"><button class="button">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
            </td>
        </lu>
    </div>
{% endblock %}